Test1.mp4         
finalbn.mp4
finalmr.mp4
outputbn.wav
outputmr.wav
finalgu.mp4
finalne.mp4
outputgu.wav
outputne.wav
convert.wav
finalhi.mp4
finalta.mp4
outputhi.wav
outputta.wav
audio.wav
finalkn.mp4
finalte.mp4
output.srt
outputkn.wav
outputte.wav
uploaded_videos/
audios/
file.mp4
finalml.mp4
finalur.mp4
output.wav
outputml.wav
outputur.wav
